{% extends 'base.html.twig' %}

{% block title %}Hello HomePageController!{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block body %}
<!-- ========================== REACT ========================== -->
<div id="root"></div>
<script src="{{ asset('build/bundle.js') }}"></script>
<!-- ========================== REACT ========================== -->

{% endblock %}
