{% extends 'base.html.twig' %}

{% block title %}Hello HomePageController!{% endblock %}

{% block body %}
<head>
    <link rel="stylesheet" type="text/css" href="../../assets/styles/example.css" media=”screen” />
</head>
<!-- ========================== REACT ========================== -->
<div id="root"></div>
<script src="{{ asset('build/bundle.js') }}"></script>
<!-- ========================== REACT ========================== -->

{% endblock %}
